<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scoreit.hockeyscorekeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/start_screen_no_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectTeamsActivity"
            android:label="@string/title_activity_select_teams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddTeamActivity" />
        <activity
            android:name=".AddPlayerActivity"
            android:label="@string/title_activity_add_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfTeamsActivity"
            android:label="@string/title_activity_list_of_teams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamRosterActivity"
            android:label="@string/title_activity_team_roster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditTeamActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".EditPlayerActivity"
            android:label="@string/title_activity_edit_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoachesActivity"
            android:label="@string/title_activity_coaches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCoachActivity"
            android:label="@string/title_activity_add_coach"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetLineupActivity"
            android:label="@string/title_activity_set_lineup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlayGameActivity"
            android:label="PlayGameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>